{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <h2>Check-In for Reservation #{{ reservation.id }}</h2>
  <h4>Room: {{ reservation.room.room_number }} | Guest: {{ reservation.guest.name }}</h4>
  
  <div class="alert alert-info">
    <i class="bi bi-info-circle"></i> Check-in is allowed between {{ earliest_check_in }} and {{ latest_check_in }}
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <h5>Guest Information</h5>
        {{ form.as_p }}
      </div>
      <div class="col-md-6">
        <h5>Reservation Details</h5>
        <ul class="list-group">
          <li class="list-group-item"><b>Check-in:</b> {{ reservation.check_in }}</li>
          <li class="list-group-item"><b>Check-out:</b> {{ reservation.check_out }}</li>
          <li class="list-group-item"><b>Status:</b> {{ reservation.get_status_display }}</li>
          <li class="list-group-item"><b>Num Guests:</b> {{ reservation.num_guests }}</li>
        </ul>
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-3">Complete Check-In</button>
  </form>
</div>
{% endblock %}
